<main>

  <div class="login-main-container">
    
    <div class="left-panel">
    <h1>Welcome to Digital Voting</h1>
    <p>Cast your vote securely and efficiently.</p>
  </div>

  <div class="right-panel">
    <h2>{{ isAdminRoute ? 'Admin Login' : 'User Login' }}</h2>
    
    <div *ngIf="!isAdminRoute">
      <input type="text" placeholder="Enter Registration Number" [(ngModel)]="regNumber">
    </div>

    <div *ngIf="isAdminRoute">
      <input type="text" placeholder="Username" [(ngModel)]="username">
      <input type="password" placeholder="Password" [(ngModel)]="password">
    </div>

    <button (click)="login()">{{ isAdminRoute ? 'Login as Admin' : 'Login' }}</button>
    
    <div *ngIf="errorMsg" class="error-msg">{{ errorMsg }}</div>
  </div>
  
</div>

</main>